<div>
    <input [(ngModel)]="newAppointmentTitle" type="text" placeholder="Appointment title">
    <input [(ngModel)]="newAppointmentDate" type="date" placeholder="Appointment date">
    <button (click)="addAppoinment()">Add</button>
</div>

<div>
    <ul>
        <li *ngFor="let appointment of appointments; index as idx">
           {{appointment.title}} - {{appointment.date | date: 'dd.MM.yyyy'}} 
           <button (click)="deleteAppointment(appointment.id)">Delete</button>
        </li>
    </ul>
</div>